* {
	box-sizing: border-box;
	min-width: 0;
	}

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	margin: 0;
	padding: 0;
	}

ol, ul {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
	}

table {
	border-spacing: 0;
	border-collapse: collapse;
	}

hr {
	overflow: visible;
	height: 0;
	}

a {
	background-color: transparent;
	}

abbr[title] {
	text-decoration: none;
	border-bottom: none;
	}

b, strong {
	font-weight: bolder;
	}

small {
	font-size: 80%;
	}

sub, sup {
	font-size: 75%;
	position: relative;
	}

img {
	border-style: none;
	}

button, input, select {
	overflow: visible;
	}

button, select {
	text-transform: none;
	}

legend {
	display: table;
	box-sizing: border-box;
	max-width: 100%;
	white-space: normal;
	color: inherit;
	}

textarea {
	overflow: auto;
	}

progress {
	vertical-align: baseline;
	}

details {
	display: block;
	}

summary {
	display: list-item;
	}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
	}

[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0;
	}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
	}

[type="search"] {
	outline-offset: -2px;
	appearance: textfield;
	}

[type="search"]::-webkit-search-decoration {
	appearance: none;
	}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
	}

[hidden] {
	display: none;
	}
